* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: sandybrown;
}

.name,
h2 {
  line-height: 2em;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
  background-color: rgba(244, 164, 96, 0.5);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding-top: 10px;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  background-color: white;
  border: 1px dotted sandybrown;
  border-radius: 15px;
  font-size: 18px;
}

section {
  padding: 30px;
  margin-top: 20px;
  min-width: 49%;
  max-width: 49%;
  background-color: rgba(206, 206, 206, 0.5);
}

.rss {
  height: 45px;
}

.footer-container {
  background-color: sandybrown;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  margin-top: 30px;
}

.profile-pic {
  border-radius: 50%;
}

.footer-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
}

.contacts-item,
.lang-item,
.edu-item,
.project-item {
  list-style: none;
  line-height: 2em;
}

#projects,
#lang,
#edu {
  min-width: 30%;
}

.lang-img {
  height: 16px;
  border-radius: 50%;
}

.skill {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  background-color: white;
  border: 1px dotted sandybrown;
  border-radius: 15px;
}

.skill:hover {
  background-color: rgba(138, 44, 226, 0.5);
}

.in-progress {
  color: white;
  border-radius: 5px;
  background-color: blueviolet;
  line-height: 1.5em;
  padding: 0 10px;
}
